{% extends '../jobado/index.html' %}
{% block title %}Inscription{% endblock %}
{% block slider %}
{% endblock %}
{% block content %}
<h2>Inscription</h2>
<form  enctype = "multipart/form-data" action = "" method = "POST" class="registration-form">{% csrf_token %}
	
	{% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <br><small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
       </p>
    {% endfor %}
    
    <input type="submit" value=" {% block value %}S'inscrire{% endblock value %} " class="save btn ">
</form>
{% endblock %}