{% load static flatpages %}
{% get_flatpages as flatpages %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="fr" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="fr" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="fr" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="fr" class="no-js"> <!--<![endif]-->
    <head>
    	<!-- meta charec set -->
        <meta charset="utf-8">
		<!-- Always force latest IE rendering engine or request Chrome Frame -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<!-- Page Title -->
        <title>{% block title%} JobADo {% endblock %}</title>		
		<!-- Meta Description -->
        <meta name="description" content="Plateforme camerounaise de jobbing où vous pouvez trouver des particuliers pour vous aider dans vos taches quotidiennes à domicile ou alors trouver un petit job proche de chez vous ">
        <meta name="keywords" content="job, jobbing, pwa, service, besoin, domicile, camerounaise">
        <meta name="author" content="Vanie Fopa">
		<!-- Mobile Specific Meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Google Font -->
		
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

		<!-- CSS
		================================================== -->
		<!-- Fontawesome Icon font -->
        <link rel="stylesheet" href=" {% static 'jobado/css/font-awesome.min.css' %}">
		<!-- Twitter Bootstrap css -->
        <link rel="stylesheet" href=" {% static 'jobado/css/bootstrap.min.css' %}">
		<!-- jquery.fancybox  -->
        <link rel="stylesheet" href="{% static 'jobado/css/jquery.fancybox.css' %}">
		<!-- animate -->
        <link rel="stylesheet" href="{% static 'jobado/css/animate.css' %}">
		<!-- Main Stylesheet -->
        <link rel="stylesheet" href="{% static 'jobado/css/main.css' %}">
		<!-- media-queries -->
        <link rel="stylesheet" href="{% static 'jobado/css/media-queries.css' %}">

		<!-- Modernizer Script for old Browsers -->
        <script src="{% static 'jobado/js/modernizr-2.6.2.min.js' %}"></script>

    </head>
	
    <body id="body">
	
		<!-- preloader -->
		<div id="preloader">
			<img src="{% static 'jobado/img/preloader.gif' %}" alt="Preloader">
		</div>
		<!-- end preloader -->

        <!-- 
        Fixed Navigation
		==================================== -->
		{% block header %}
        <header id="navigation" class="navbar-fixed-top mynav">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars fa-2x"></i>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
                    <a class="navbar-brand" href="#body">
						<h1 id="logo">
							JobADo
						</h1>
					</a>
					<!-- /logo -->
                </div>
				{% block nav %}
				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul class=" nav navbar-nav">
                        <li ><a href="/jobado/index" >Accueil</a></li>
                        <li><a href="#">Comment ça marche</a></li>
                        <li><a href="#">Poster un besoin</a></li>
                        <li><a href="/jobado/registration">Devenir jobber</a></li>
						<li><a href="/jobado/signup">Inscription</a></li>
						<li><a href="/jobado/login" >Connexion</a></li>
                    </ul>
                </nav>
				<!-- /main nav -->
				{% endblock %}
            </div>
		</header>
		{% endblock  %}
        <!--
        End Fixed Navigation
        ==================================== -->
		
		
		
        <!--
        Home Slider
        ==================================== -->
		{% block slider %}
		<section id="slider">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			
				<!-- Indicators bullet -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				</ol>
				<!-- End Indicators bullet -->				
				
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					
					<!-- single slide -->
					<div class="item active" style="background-image: url(./../../static/jobado/img/recolte.jpg);">
						<div class="carousel-caption">
							<h2 data-wow-duration="700ms" data-wow-delay="500ms" class="wow bounceInDown animated">Decouvrez<span> JobADo</span>!</h2>
							<h3 data-wow-duration="1000ms" class="wow slideInLeft animated"> Plateforme camerounaise de jobbing</h3>
							<p data-wow-duration="1000ms" class="wow slideInRight animated">Vous avez besoin d'un service à domicile? </p>
							
							<ul class="social-links text-center">
								<li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
								<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
								<li><a href=""><i class="fa fa-dribbble fa-lg"></i></a></li>
							</ul>
						</div>
					</div>
					<!-- end single slide -->
					
					<!-- single slide -->
					<div class="item" style="background-image: url(./../../static/jobado/img/entretien.jpeg);">
						<div class="carousel-caption">
							<h2 data-wow-duration="500ms" data-wow-delay="500ms" class="wow bounceInDown animated">Besoin d'arrondir vos fins de mois?</h2>
							<h3 data-wow-duration="500ms" class="wow slideInLeft animated"><span class="color">JobADo</span> est la solution!</h3>
							<p data-wow-duration="500ms" class="wow slideInRight animated">Elle vous permet de trouver des jobs proches de chez vous</p>
							
							<ul class="social-links text-center">
								<li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
								<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
								<li><a href=""><i class="fa fa-dribbble fa-lg"></i></a></li>
							</ul>
						</div>
					</div>
					<!-- end single slide -->
					
				</div>
				<!-- End Wrapper for slides -->
				
			</div>
		</section>
		
        <!--
        End Home SliderEnd
		==================================== -->
		{% endblock  %}
		
		{% block content%}
		{% endblock %}

        <!--
        Features
        ==================================== -->
		
		<section id="features" class="features">
			<div class="container">
				<div class="row" id="marche">
				
					<div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
						<h2>Comment ça marche</h2>
						<hr>
					</div>

					<!-- service item -->
					<div class="col-md-4 wow fadeInLeft" data-wow-duration="500ms">
						<div class="service-item">
							<div class="service-icon">
								<i class="fa fa-bullhorn fa-2x"></i>
							</div>
							
							<div class="service-desc">
								<h3>Publiez  votre besoin</h3>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
							</div>
						</div>
					</div>
					<!-- end service item -->
					
					<!-- service item -->
					<div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="service-item">
							<div class="service-icon">
								<i class="fa fa-pencil fa-2x"></i>
							</div>
							
							<div class="service-desc">
								<h3>Choisissez votre jobber</h3>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
							</div>
						</div>
					</div>
					<!-- end service item -->
					
					<!-- service item -->
					<div class="col-md-4 wow fadeInRight" data-wow-duration="500ms"  data-wow-delay="900ms">
						<div class="service-item">
							<div class="service-icon">
								<i class="fa fa-heart-o fa-lg">
							</div>
							
							<div class="service-desc">
								<h3>Vous avez votre prestation à domicile</h3>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
							</div>
						</div>
					</div>
					<!-- end service item -->
						
				</div>
			</div>
		</section>
		
        <!--
        End Features
        ==================================== -->
		

		 <!--
        all categories
        ==================================== -->

		<section id="categorie" class="categories">
			<div class="container">
				<div class="row">
		
					<div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
						<h2 > Nos catégories</h2> 
						<hr>
						<div id="categories">
							<ul>
								<table class="table">
									{% for cat in categories %}
										<tr>
											<td>{{ cat.name }}</td>
											<td>{{ cat.description }}</td>
										</tr>
									{% endfor %}
								</table>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</section>

		<!--
        all jobs
        ==================================== -->

		<section  id="job">
			<div class="container">
				<div class="row">
		
					<div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
						<h2 >Tous les jobs</h2> 
						<hr>
						<div id="jobs">
							<ul>
								{% for job in jobs %}
								<li>{{ job.poster }}</li>
								<li>{{ job.service }}</li>
								<li>{{ job.description }}</li>
								<li>{{ job.completion_date }}</li>
								<li>{{ job.completion_hour }}</li>
								<li>{{ job.expiration_date }}</li>
								<li>{{ job.jobbers_number }}</li>
								<li>{{ job.unit_price }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>

				</div>
			</div>
		</section>

        <!--
        Meet Our FAQ
        ==================================== -->		
		
		<section id="team" class="team">
			<div class="container">
				<div class="row">
		
					<div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
						<h2>FAQ</h2>
						<div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
						<div id="faq"></div>
					</div>

				</div>
			</div>
		</section>

		<!--
        Contacts
        ==================================== -->
		<section id="team" class="team">
			<div class="container">
				<div class="row">
		
					<div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
						<h2 >contacts</h2> 
						<div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
						<div id="contacts"></div>
					</div>

				</div>
			</div>
		</section>
		
		
		<!--
        Footer
        ==================================== -->
		<footer  class="footer">
			<div class="container-fluid">
				<div class="row">
				
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms">
						<div class="footer-single">
							<img src="{% static 'jobado/img/logo.png' %}" alt="JobADo">
							<p class="justifie">Notre mission est de vous aider à trouver un particulier proche de chez vous pour un service à domicile ou à l'inverse un petit boulot proche de chez vous. N'ayez point crainte, vous etes au bon endroit!</p>
						</div>
					</div>
				
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
						<div class="footer-single">
							 <a href=""><h6>S'inscrire</h6></a>
							<p>Inscrivez-vous afin de mieux profiter de JobADo </p>
						</div>
					</div>
				
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
						<div class="footer-single">
							<h6>Explorez</h6>
							<ul>
								<li><a href="#categories">Nos catégories</a></li>
								<li><a href="#jobs">Tous les jobs</a></li>
								<li><a href="#cgu">Nos conditions générales d'utilisation</a></li>
							</ul>
						</div>
					</div>
				
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
						<div class="footer-single">
							<h6>Besoin d'aide?</h6>
							<ul>
								<li><a href="#contacts">Contacts</a></li>
								<li><a href="#">Service client</a></li>
								<li><a href="#faq">FAQ</a></li>
							</ul>
						</div>
					</div>
					
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="copyright text-center">
							Copyright © 2019 <span>JobADo</span>. Tous droits reservés.
						</p>
					</div>
				</div>
			</div>
		</footer>

		<!--
        End Meet Our FAQ
        ==================================== -->
		
		<a href="javascript:void(0);" id="back-top"><i class="fa fa-angle-up fa-3x"></i></a>

		<!-- Essential jQuery Plugins
		================================================== -->
		<!-- Main jQuery -->
        <script src="{% static 'jobado/js/jquery-1.11.1.min.js' %}"></script>
		<!-- Single Page Nav -->
        <script src="{% static 'jobado/js/jquery.singlePageNav.min.js' %}"></script>
		<!-- Twitter Bootstrap -->
        <script src="{% static 'jobado/js/bootstrap.min.js' %}"></script>
		<!-- jquery.fancybox.pack -->
        <script src="{% static 'jobado/js/jquery.fancybox.pack.js' %}"></script>
		<!-- jquery.mixitup.min -->
        <script src="{% static 'jobado/js/jquery.mixitup.min.js' %}"></script>
		<!-- jquery.parallax -->
        <script src="{% static 'jobado/js/jquery.parallax-1.1.3.js' %}"></script>
		<!-- jquery.countTo -->
        <script src="{% static 'jobado/js/jquery-countTo.js' %}"></script>
		<!-- jquery.appear -->
        <script src="{% static 'jobado/js/jquery.appear.js' %}"></script>
		<!-- Contact form validation -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.32/jquery.form.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js"></script>
		<!-- Google Map -->
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<!-- jquery easing -->
        <script src="{% static 'jobado/js/jquery.easing.min.js' %}"></script>
		<!-- jquery easing -->
        <script src="{% static 'jobado/js/wow.min.js' %}"></script>
		<script>
			var wow = new WOW ({
				boxClass:     'wow',      // animated element css class (default is wow)
				animateClass: 'animated', // animation css class (default is animated)
				offset:       120,          // distance to the element when triggering the animation (default is 0)
				mobile:       false,       // trigger animations on mobile devices (default is true)
				live:         true        // act on asynchronously loaded content (default is true)
			  }
			);
			wow.init();
		</script> 
		<!-- Custom Functions -->
        <script src="{% static 'jobado/js/custom.js' %}"></script>
    </body>
</html>